body{
    margin: 0px auto;
}
p{
    width: 220px;
}

h2{
    text-align: center;
    color: red;
    padding: 25px;
}

h3{
    color: lightblue;
    font-size: 13.2px;
    margin-top: 0px;
}


img{
    width: 245px;
    height: 180px;
    margin: auto;
}


#gallery{
	width: 860px;
	margin: 0px auto;
}

.row{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.row > div {
    flex-grow: 1;
    margin: 0px 10px 0px 10px;
}

.tekst{
    width: 220px;
    height: 140px;
    font-size: 12.0px;
    margin: 10px 10px 0px 8px;
    text-align: justify;
    line-height: 0.96;
    margin-bottom: 0px;
    padding: 0px 10px 0px 0px;
}

